.content{
    position: relative;
    top:65px;
    display:block;
    text-align:center;
    margin:0 auto;
    width:90vw;
    overflow:hidden;
    
    input:checked & {
        transform: none;    
      }
}