@charset 'UTF-8';

$dir: ltr !default;
@import 'styles_base';

.container {
  display:block;
  width:100%;
  position: relative;
  top:0px;
  padding:0;
}

a{
  outline: none;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

